table{
    border-style:solid;
    border-color: red;
    border-width: 3px;
    width: 500px;
}

th{
    border-style:solid;
    border-color: red;
    border-width: 1px;
    
}

td{
    border-style:solid;
    border-color: red;
    border-width: 1px;
    
}

